<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>QuocTuan.Info</title>
	<link rel="stylesheet" href="">
</head>
<body>
<table align="center">
	<tr>
		<td width="600px">
			<form action="" method="POST" enctype="multipart/form-data">
				<fieldset>
					<legend><b>Enter Your Information</b></legend>
					<table>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td>File:</td>	
							<td>
								<input type="file" name="Ffile" />
							</td>	
						</tr>
						<tr>
							<td></td>	
							<td>
								<input type="submit" name="btnSend" value="Send" /> 
							</td>	
						</tr>
					</table>
				</fieldset>
			</form>
		</td>
	</tr>
</table>	
</body>
</html>